.caption{
  text-align: center;
}

.smaller-font {
    font-size: .7em;
}

.speaker-notes { 
    font-size: .8px; 
}

.center-text {
    text-align: center;
}

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  border-right: 3px solid;
  border-top: 3px solid;
  border-bottom: 3px solid;
  padding-left: 0.5em;
}